@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Home Page";

    // Obtener el usuario actual logueado
    var user = UserManager.GetUserAsync(User).Result;
    var role = UserManager.GetRolesAsync(user).Result.FirstOrDefault(); // Obtener el rol del usuario
}

<div class="text-center">
    <h1 class="display-4">
        @if (role == "Admin")
        {
            <text>Bienvenido Administrador God</text>
        }
        else if (role == "Enfermero")
        {
            <text>Bienvenido Enfermero</text>
        }
        else
        {
            <text>Bienvenido Usuario</text>
        }
    </h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
