@{
    ViewData["Title"] = "Recuperar Contraseña";
    Layout = "_Layout";
}
@section styles {
    <link rel="stylesheet" href="~/css/Form.css" />
}
<h2>Recuperar Contraseña</h2>
<form asp-action="ForgotPassword" method="post">
    <label for="email">Ingresa tu correo electrónico:</label>
    <input type="email" name="email" required />
    <button type="submit">Enviar enlace de recuperación</button>
</form>

@if (ViewBag.Message != null)
{
    <p>@ViewBag.Message</p>
}

@if (ViewBag.ErrorMessage != null)
{
    <p style="color:red;">@ViewBag.ErrorMessage</p>
}
