@{
    ViewData["Title"] = "Iniciar Sesión";
    Layout = "_Layout";
}
@section styles {
    <link rel="stylesheet" href="~/css/login.css" />
}

<div class="background-blur"></div> <!-- Fondo difuminado -->

<div class="center-container">
    <div class="card">
        <span class="login">Iniciar Sesión</span>

        <form asp-action="Login" method="post" class="login-form">
            <div class="inputBox">
                <input type="text" name="username" required />
                <span>Usuario</span>
            </div>
            <br />
            <div class="inputBox">
                <input type="password" name="password" required />
                <span>Contraseña</span>
            </div>

            @if (ViewBag.ErrorMessage != null)
            {
                <div class="error-message">@ViewBag.ErrorMessage</div>
            }
            <br />
            <button type="submit" class="enter">Entrar</button>
        </form>

        <!-- Enlace para recuperar contraseña -->
        <p class="forgot-password">
            <a asp-action="ForgotPassword" asp-controller="Account">¿Olvidaste tu contraseña?</a>
        </p>
    </div>
</div>
