@model ProyectoFnalIntegrado.Models.ResetPasswordModel
@{
    ViewData["Title"] = "Restablecer Contraseña";
}

<h2>Restablecer Contraseña</h2>

@if (ViewBag.ErrorMessage != null)
{
    <p style="color:red;">@ViewBag.ErrorMessage</p>
}

@if (ViewBag.Message != null)
{
    <p>@ViewBag.Message</p>
}
else
{
    <form asp-action="ResetPassword" method="post">
        <input type="hidden" name="token" value="@ViewBag.Token" />
        <label for="newPassword">Nueva Contraseña:</label>
        <input type="password" name="newPassword" required minlength="8" />
        <button type="submit">Restablecer Contraseña</button>
    </form>
}
